/* Estilos del fondo con gradiente en movimiento */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(75deg,  #dde5b6,#626651, #171813);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

.login-container {
    width: 320px;
    text-align: center;
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    padding: 30px;
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: 0 49px 30px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #c8e6c9; /* Borde verde pastel claro */
    border-radius: 25px; /* Bordes redondeados */
    box-sizing: border-box;
    background-color: #ffffff; /* Fondo blanco para los campos de entrada */
    font-size: 16px; /* Tamaño de fuente más grande */
}

button {
    background-color: #3a5a40; /* Verde pastel para el botón */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente más grande */
}

button:hover {
    background-color: #8ec590; /* Verde pastel más oscuro para el botón en hover */
}

#error {
    color: #d32f2f; /* Color rojo claro para errores */
    font-size: 14px; /* Tamaño de fuente más grande */
}

#showPassword {
    margin-top: 15px;
}

#showPassword + label {
    margin-left: 5px;
    cursor: pointer;
}
.barrita {
  background-color: rgba(28, 33, 26, 0.7); /* Hacer el fondo semitransparente para que el blur sea visible */
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(18px); /* Efecto blur aplicado */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad para Safari */
}
  
  .barrita ul {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin: 0;
  }
  .barrita #imglogo {
    height: 55px;
    width: 210px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
  
    margin-right: 2vw;
  }
  .barrita a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px;
    font-weight: 550;
    transition: color 0.3s, transform 0.3s;
  }
  
  .barrita a:hover {
    color: #cbff74;
    transform: scale(1.1);
  }
  
  .barrita li {
    position: relative;
  }
  
  
  
  /* ESTO ES PARA EL EFECTO DE SUBRAYADO DE LOS BOTONES */   
  .barrita #vfx::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #CBFF74;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
  }
  
  .barrita #vfx:hover::after {
    transform: scaleX(1);
  }
  
  #PROFILE {
    background-color: #3a5a40;
    color: white;
    border-radius: 50px;
  }
  
  #PROFILE:hover {
    color: #CBFF74;
  }
  
  .texto {
    padding: 20px;
    border-radius: 40px;
    background-color: #3a5a40;
    text-align: center;
    margin: 40px;
    font-size: 20px;
    color: white;
  }
  
  .logo {
    text-align: center;
    border-radius: 20px;
    padding-top: 150px;
  }
  
  .logo img {
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
    border-top-left-radius: 20%;
    border-top-right-radius: 2%;
    
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 2%;
  
  }
  
  
  .dropdown {
    position: relative;
  }
  
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.7); /* Hacer el fondo semitransparente para que el blur sea visible */
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    backdrop-filter: blur(20px); /* Efecto blur aplicado */
    -webkit-backdrop-filter: blur(20px); /* Compatibilidad para Safari */
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown .dropdown-content a {
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 15px;
    display: block;
  }
  
  .dropdown .dropdown-content a:hover {
    background-color: #CBFF74;
    color: black;
  }
  